.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 20%;
  height: 50px;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: rgb(223, 223, 223);
}

.page {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.header__item {
  cursor: pointer;
  height: fit-content;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: none;
  border: 1px solid gray;
}
.header__item:hover {
  background-color: rgb(148, 58, 233);
  color: white;
}
.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  height: auto;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.product-image {
  width: 250px;
  height: auto;
  max-height: 50%;
}

.product-info {
  font-weight: 600;
  font-size: 20px;
}

.product-cart-button {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid green;
}
.product-cart-button:hover {
  background-color: rgb(18, 175, 18);
  color: white;
}
.product-cart-button:active {
  background-color: rgb(9, 112, 9);
}
.cart-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 30%;
  margin-bottom: 10px;
}
.cart-amount {
  position: absolute;
  top: -26px;
  right: -12px;
  background-color: brown;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}
