@import url("./components/styles/Header.css");
@import url("./components/styles/ProductCard.css");
@import url("./components/styles/CartElement.css");

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.page {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
